body {
	background: linear-gradient(#454654, #2C2C39);
	height: 100vh;
	width: 100vw;
	/* overflow: hidden; */
	margin: 0;
}

#ground {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 5vh;
	width: 100vw;
	background: #000;
}

.player {
	position: absolute;
	bottom: 5vh;
	left: 5vh;
}

.player#thomas {
	background: #CC8942;
	height: 5vh;
	width: 5vh;
}

.player#bob {
	background: #B8589A;
	height: 10vh;
	width: 10vh;
}

#groundContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 95vh;
	width: 400vh;
}

#indicator {
	position: fixed;
	top: 3vh;
	right: 3vh;
}

#indicator > div {
	opacity: .3;
	border-radius: 100%;
	height: 3vh;
	width: 3vh;
	margin-bottom: 3vh;
	margin-left: 0vh;
	transform: scale(1);
	transition: opacity .3s, transform .5s cubic-bezier(.1,1.11,.75,6);
}

#indicator > div.hidden {
	transform: scale(0);
	opacity: 0;
}

#indicator > div:first-child {
	background: #CC8942;
}

#indicator > div:nth-child(2) {
	background: #B8589A;
}

#indicator > div:last-child {
	background: #479BBF;
}

#indicator.thomas > div:first-child,
#indicator.bob > div:nth-child(2),
#indicator.henk > div:last-child {
	opacity: 1;
}
